@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.custom-scroll::-webkit-scrollbar {
  height: 12px;
  width: 36px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}
